<html>

<div class="mb-3" id="total_sales">
    <label for="total_sales" class="form-label">Order Summary:</label>
    {% if order %}
        <ul>
            {% for item in order %}
                <li>{{ item.menu_item_name }} - Quantity: {{ item.menu_quantity }}
                    Price: ₱{{ item.menu_item_price }} - 
                    Total: ₱{{ item.total_price }} -
                </li>
            {% endfor %}
        </ul>
        <h3>Grand Total: ₱{{ grand_total }}</h3>
    {% else %}
        <p>No items in your order.</p>
    {% endif %}
</div>


</html>