<html lang="en">
{% load static %}

{% block content %}
<div id="expenseCatTable" class="collapse show">
    <div class="card-body">
        <div class="scrollable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Expense Category ID</th>
                        <th scope="col">Expense Category Name</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in expense_cat %}
                    <tr>
                        <td>{{ item.expense_cat_id }}</td>
                        <td>{{ item.expense_cat_name }}</td>
                        <td>{{ item.category_timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-body">
    <div>
        <form method="POST" action="{% url 'create_testpage' %}">{% csrf_token %}

            <div class="mb-3">
                <label for="input_field_1" class="form-label">Category Name:</label>
                <input type="text" class="form-control" id="input_field_1" name="input_field_1" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger" href="{% url 'testpage' %}">Cancel</a>

        </form>  
    </div>
</div>

<div class="card-body">
    <div>
        <form method="POST" action="{% url 'modify_testpage' %}">{% csrf_token %}
            <div class="mb-3">
                <label for="to_modify" class="form-label">Category to Rename:</label>
                <input type="text" class="form-control" id="to_modify" name="to_modify">
                </div>
            <div class="mb-3">
                <label for="input_field_2" class="form-label">New Name:</label>
                <input type="text" class="form-control" id="input_field_2" name="input_field_2" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger" href="{% url 'testpage' %}">Cancel</a>

        </form>  
    </div>
</div>

<div class="card-body">
    <div>
        <form method="POST" action="{% url 'delete_testpage' %}">{% csrf_token %}
            <div class="mb-3">
                <label for="to_delete" class="form-label">Category to Delete:</label>
                <input type="text" class="form-control" id="to_delete" name="to_delete">
            </div>

            <button type="submit" class="btn btn-primary">Delete</button>

        </form>  
    </div>
</div>

<div id="orderLineTable" class="collapse show">
    <div class="card-body">
        <div class="scrollable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order Line ID</th>
                        <th scope="col">Menu Item</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_line %}
                    <tr>
                        <td>{{ item.order_line_id }}</td>
                        <td>{{ item.menu_item.menu_item_name }}</td>
                        <td>{{ item.order.order_id }}</td>
                        <td>{{ item.order_quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
</html>